# Ignore node_modules in both frontend and backend
FrontEnd/node_modules/
BackEnd/node_modules/
BackEnd/sever/node_modules
# Ignore env files in both frontend and backend
FrontEnd/.env
BackEnd/.env
BackEnd/sever/.env
FrontEnd/README.md
FrontEnd/smart-task-manager-client/node_modules/
# Backend
BackEnd/node_modules/
BackEnd/.env

# Frontend
FrontEnd/node_modules/
FrontEnd/build/
FrontEnd/.env
FrontEnd/smart-task-manager-client/README.md
# OS/System files
.DS_Store
Thumbs.db

# Logs
*.log